[submodule "redis"]
	path = redis
	url = git://github.com/antirez/redis.git
[submodule "nginx"]
	path = nginx
	url = git://github.com/git-mirror/nginx.git
[submodule "rvm"]
	path = rvm
	url = git://github.com/wayneeseguin/rvm.git
[submodule "inits/nginx"]
	path = inits/nginx
	url = git://github.com/JasonGiedymin/nginx-init-ubuntu.git
[submodule "varnish"]
	path = varnish
	url = git://github.com/varnish/Varnish-Cache.git
